* {
	font-family: sans;
}

body {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	background: #eeeeee;
	font-size: 90%;
	line-height: 120%;
	color: #090909;
}

h1 i {color: #ff0000;}

.head {
	background-color: #ffffff;
	background-image: -moz-linear-gradient(center top, #ffffff, #f0f0f0);
	background-repeat: repeat-x;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
	border-bottom: 1px solid #555;
	padding: 0px;
	text-shadow: 1px 2px 2px #bbb;
	position: fixed;
	width: 100%;
	z-index: 3000;
}

.head h1 {
	font-size: 120%;
	font-weight: normal;
	display: inline-block;
	padding: 0px 10px;
}

h3 {margin: 2px 0;}

.content {
	width: 920px;
	margin: 0px auto;
	padding-top: 50px;
}

section {
	padding: 8px;
	border-radius: 8px 8px 8px 8px;
	border: solid 1px #777;
	margin: 5px;
	background: #fff;
	min-height: 50px;
	overflow: auto;
}

a:link, 
a:visited,
a:active {
	color: #0000ff;
	text-decoration: none;
}

a:hover {
	color: #ee0000;
	text-decoration: underline;
}

@media (max-width: 500px) {
	.content {
		width: 100%;
		margin: 0px 3px;
		font-size: 110%;
		line-height: 130%;
	}
	section {
		float: inherit;
		width: auto;
	}
}
